body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  outline: none;
  -webkit-appearance: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search {
  width: 500px;
  margin: 50px auto;
}

.search i {
  font-size: 5em;
  cursor: pointer;
}

.search i:hover {
  color: rgb(233, 30, 99);
}

#search-input {
  border: none;
  width: 0px;
  border-bottom: 2px solid #fff;
  font-size: 3em;
  color: grey;
  
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
          transition: all .5s;
}

.loading {
  margin-top: 10px;
  margin-left: 37%;
}

.products {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
}

.products div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-6 {
  width: 50%;
}

.flipkart, .snapdeal {
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 30px;
}

.products .image {
  max-width: 200px;
  margin: 0 auto;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.products span {
  font-size: 2em;
}

.error {
  max-width: 1000px;
  margin: 0 auto;
}

.error h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.winner {
  border: 1px solid rgb(139, 195, 74) !important;
}

.loser {
  border: 1px solid rgb(244, 67, 54);
}

.flipkart h1, .snapdeal h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  border-bottom: 1px dashed #aaa;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.flipkart-error p, .snapdeal-error p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4em;
  text-align: center;
}